<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.title }}</title>
    <meta name = "viewport" content = "width=device - width,initial-scale = 1.0">
     <link href = "/static/bootstrap/css/bootstrap.min.css" rel = "stylesheet" media ="screen"> 
    <style>
        
        .blog .summary {
            padding-top: 20px;
        }
    </style>
</head>
<body>
 

<div class = "row" style="background-color:#FFD700">
<div class = "col-md-2 col-md-offset-1">
<span><a href="{% url 'blog' %}"><h4>博客目录</h4></a></span></div>
    <div class="col-md-2 col-md-offset-7 ">
  
<a class="btn btn-link" href="http://127.0.0.1:8000/list/" role="button"><span class = "glyphicon glyphicon-home" style="font-size: 20px"></span></a>
<a class="btn btn-link" href="http://127.0.0.1:8000/list/xx/" role="button"><span class = "glyphicon glyphicon-user" style="font-size: 20px"></span></a>
<a class="btn btn-link" href="http://127.0.0.1:8000/list/gy/" role="button"><span class = "glyphicon glyphicon-refresh" style="font-size: 20px"></span></a></div>



           
        
     </div>
</div>
 <div class = "row">
<div class = "col-md-6 col-md-offset-3">
<div class="content">
    <div class="blog">
        <div class="title">
            <a href="#"><h2>{{ blog.title }}</h2></a>
        </div>
        <div class="info">
           
            <span class="author" style="color: #808080">{{ blog.author }}</span>
            <span class="created" style="color: #808080">{{ blog.created|date:"Y-m-d H:i" }}</span>
        </div>
        <div class="summary">
            {{ blog.content }}
<form action="{% url 'detail' blog.id %}" method="GET">
<button class="btn btn-default" name = "dianzan" value= "5" type="submit"><span class = "glyphicon glyphicon-thumbs-up" style="font-size: 15px"></span></button>&nbsp;&nbsp;{{blog.dianzan}}&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-default" name = "chapin" value= "5" type="submit"><span class = "glyphicon glyphicon-thumbs-down" style="font-size: 15px"></span></button>&nbsp;&nbsp;{{blog.chapin}}</form>
        </div>
    </div>

 
    <div class="comment">
        <div class="comments-display" style="padding-top: 20px;">
            <h3>评论</h3>
            {% for comment in comments %}
                <div class="comment-field" style="padding-top: 10px;">
                    {{ comment.name }} 说: {{ comment.content }}
                </div>
            {% endfor %}
        </div>
        <div class="comment-post" style="padding-top: 20px;">
            <h3>提交评论</h3>
            <form action="{% url 'detail' blog.id %}" method="post">

                {% csrf_token %}
                {% for field in form %}
                    <div class="input-field" style="padding-top: 10px">
                        {{ field.label }}: {{ field }}
                    </div>
                    <div class="error" style="color: red;">
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <button type="submit" style="margin-top: 10px">提交</button>
            </form>
        </div>
    </div>
</div>
 
</body>
</html>