<!DOCTYPE html>
<html lang="en">

<head>

     <title>hub</title>

     <meta name = "viewport" content = "width=device - width,initial-scale = 1.0">
     <link href = "/static/bootstrap/css/bootstrap.min.css" rel = "stylesheet" media ="screen">   
</head>

    
<body bgcolor="#ffffff" ONLOAD=show5()>
<div class = "container">
     <div class="row">
        <div class="col-md-2 col-md-offset-11 ">
  
<a class="btn btn-link" href="http://127.0.0.1:8000/list/" role="button"><span class = "glyphicon glyphicon-home" style="font-size: 20px"></span></a>
<a class="btn btn-link" href="http://127.0.0.1:8000/list/xx/" role="button"><span class = "glyphicon glyphicon-user" style="font-size: 20px"></span></a>
<a class="btn btn-link" href="http://127.0.0.1:8000/list/gy/" role="button"><span class = "glyphicon glyphicon-refresh" style="font-size: 20px"></span></a></div>
<div class = "row">
<span id=liveclock style=position:absolute;left:250px;top:122px;; width: 109px; height: 15px>
</span></div>

</div>
   
</body>

</html>
<script type="text/javascript">


function show5(){if(!document.layers&&!document.all)
return
var Digital=new Date()
var hours=Digital.getHours()
var minutes=Digital.getMinutes()
var seconds=Digital.getSeconds()
var dn="AM"
if(hours>12){dn="PM"
hours=hours-12
}if(hours==0)
hours=12
if(minutes<=9)
minutes="0"+minutes
if(seconds<=9)
seconds="0"+seconds
//change font size here to your desire
myclock="<font size='5' face='Arial'><b><font size='1'>Current Time:</font></br>"+hours+":"+minutes+":"
+seconds+" "+dn+"</b></font>"
if(document.layers){document.layers.liveclock.document.write(myclock)
document.layers.liveclock.document.close()
}else if(document.all)
liveclock.innerHTML=myclock
setTimeout("show5()",1000)
}
//>
</script> 